// Import all partials
@require './_*.styl'
@require '../node_modules/bootstrap/dist/css/bootstrap.css'
@require '../node_modules/bootstrap/dist/css/bootstrap-theme.css'

body
  background-color: #183026
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/garage.jpg")
  background-repeat: repeat, no-repeat
  background-size: auto, cover
  background-position: top left, center 0
  background-attachment: fixed, fixed
  font-family: 'Source Sans Pro', sans-serif
  line-height: 1.75em
  font-weight: 300
  letter-spacing: 1px
  color: #3a3939
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25)
  -webkit-text-stroke: 0.25px

body > .container
  padding-top: 60px

.garage-container
  padding: 300px 0

// garage Selector
.garage-input
  text-align: center
  background white
  max-width 500px
  margin 50px auto
  padding 2rem
  border 2px solid black
  input
    width 100%
    &[type="text"]
      text-align center
      font-size 3rem

.garage-overlay
  width: 100%
  position: absolute
  min-width: 300px
  left: 50%
  top: 50%
  background: rgba(255, 255, 255, 0.9)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  margin-bottom: -142px
  overflow: scroll
  height: 100%
  margin-top: 60px
  padding-bottom: 150px

.garage-overlay:after
  content: ""
  display: block

footer
  height: 142px

.tool-content
  position: absolute
  text-align: center
  min-width: 300px
  left: 50%
  top: 50%
  padding: 65px
  background: rgba(255, 255, 255, 0.8)
  outline: 4px double #FFFFFF
  outline-offset: 8px
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)


.tool-content-size
  width: 600px
  height: 65%
  min-height: 700px

.not-found-size
  width: 600px
  height: 30%

.user-profile
  width: 90%
  height: 100%
  text-align: left
  position: absolute
  background: #f5f5f5
  border-radius: 25px
  left: 50%
  top: 50%
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  margin-top 60px
  margin-bottom 60px

.tool-input .input-line
  width: 100%
  height: 60px
  border: 0
  padding: 0 240px 0 30px
  font-size: 14px
  font-family: "Raleway", sans-serif
  letter-spacing: 0.04em
  border-radius: 5px
  color: #2c3e50

.addleader
  float: right

//center bootstrap dropdown
.dropdown-menu
  left: 50%
  right: auto
  text-align: center
  transform: translate(-50%, 0)
  width: 100%

.navbar-right .dropdown-menu
  left: 78px

//buttons
.btn
  -webkit-transition: all 225ms ease-in-out
  transition: all 225ms ease-in-out
  text-overflow: ellipsis
  vertical-align: middle
  display: inline-block
  white-space: nowrap
  overflow: hidden

.btn.btn-special
  background: #e7434e
  line-height: 60px
  border-radius: 5px
  color: #ffffff
  height: 60px
  font-family: "Raleway", sans-serif
  font-weight: 700
  font-size: 14px
  letter-spacing: 0.04em
  text-transform: uppercase
  padding: 0 40px

.btn.btn-special:hover
  background: #34495e

.btn.btn-special:not(.no-icon)::before
  content: ""
  font-family: icomoon
  display: inline-block
  margin-right: 12.5px

.btn.btn-outlined
  color: #ffffff
  height: 40px
  line-height: 38px
  border: 1px solid #ffffff
  border-radius: 5px
  font-weight: 700
  font-family: "Raleway", sans-serif
  text-transform: uppercase
  letter-spacing: 0.04em
  font-size: 15px
  padding: 0 35px
  min-width: 140px

.btn.btn-outlined:hover
  background: #ffffff
  color: #2c3e50

.btn.btn-default .text
  -webkit-transition: all 200ms ease-in-out
  transition: all 200ms ease-in-out

.btn.btn-default i
  opacity: 0
  position: absolute
  top: calc(50% - 7px)
  left: calc(50% - 7px)

.btn.btn-default:hover
  background: whitesmoke

.btn.btn-default.active .text
  opacity: 0

.btn.btn-default.active i
  -webkit-animation: spin 0.75s linear infinite
  -moz-animation: spin 0.75s linear infinite
  -ms-animation: spin 0.75s linear infinite
  -o-animation: spin 0.75s linear infinite
  animation: spin 0.75s linear infinite
  opacity: 1


.tools-form
  display: block
  width: 100%
  position: absolute
  bottom: 0

.tools-form .garage-overlay:after
  height: 142px

.tools-form .input-line
  display: block
  width: 100%

.tools-form .input-line .form-input
  width: 100%
  height: 60px
  border: 0
  padding: 0 240px 0 30px
  font-size: 14px
  font-family: "Raleway", sans-serif
  letter-spacing: 0.04em
  border-radius: 5px
  color: #2c3e50

.tools-form .input-line .form-input:focus, .tools-form .input-line .form-input.has-value
  background: #fafafa

@media (max-width: 768px)
  .tools-form .input-line .form-input
    padding-right: 190px


.tools-form .form-submit
  position: absolute
  right: 0
  top: 0
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important

@media (max-width: 768px)
  .tools-form .form-submit
    padding: 0 15px !important

.tool-item-row
  min-height: 40px
  padding-left: 20px
  width: 100%
  border-bottom: 1px solid #ccc!important
  padding-bottom: 15px
  word-wrap: break-word

.row
  width: 100%

.glyphicon
  float: right
  padding-top: 10px

.navbar-form .form-control
  display: block

.tool-icon
  max-width: 30px

.user-input
  text-align: left

.form-group
  display: inline-block

.navbar-logo-img
  margin-right: 20px

.glyphicon-calendar, .glyphicon-user
  float: none !important
  font-size: 17px
  padding-right: 10px

.tool-desc-header
  font-size: 12px
  border-bottom: 1px solid #ccc!important
  background-color: #d9d9d9
  width: 100%
  margin: 0

.tool-wrapper
  width: 90%

.glyphicon-remove
  color: red

.glyphicon-wrench
  padding-right: 20px

.glyphicon-arrow-left
  padding-right: 20px

.tool-item-row-borrowed
  background-color: grey

.tool-item-row-borrowed-by-me
  background-color: red !important

.form-group-home-modal
  display: block !important

.form-group-garage-home
  width: 100%

.garage-home-errorMessage
  color: red
  font-size: 14px
  padding-top: 40px
  text-align: center

.navbar-toggle
  margin-top 3px

input.user-input
  background: white !important

input.user-input, textarea { background: white }

.form-group-garage-home > input
  height: 70px
  margin: 10px 0

.signin-form > button
  height: 40px
  font-size: 20px
  margin: 5px 0

.tool-content-header
  background: #1F6389
  top: 0px
  position: absolute
  width: 100%
  left: 0px
  height: 100px
  color: #D7D6D7
  font-size: 50px
  padding-top: 30px

.user-profile-header
  top: 0px
  position: absolute
  width: 100%
  left: 0px
  height: 100px
  color: #000000
  font-size: 50px
  padding-top: 30px
  padding-left: 50px
  font-size: 28px
  background: #53BBB6
  border-top-left-radius: 25px
  border-top-right-radius: 25px

form.signin-form
  padding-top: 80px

hr
  display: block
  height: 2px
  border: 0
  border-top: 2px solid #ccc
  margin: 40px 0 20px 0

.signin-sub-header
  font-size: 20px
  text-align: left
  font-weight: 400
  margin-bottom: 20px

.signin-email-help
  text-align: left
  float: left
  font-size: 16px

.glyphicon-user-profile
  font-size: 30px

.dropdown-mobile
  display: inline

.dropdown-mobile-button
  margin-top: 0px